.home-stages
  position relative
  isolation isolate
  +before()
    position absolute
    top 0
    left -500px
    z-index -1
    width 776px
    height 776px
    background-image image-set(\
      url(../images/branch-2.webp) 1x,\
      url(../images/branch-2@2x.webp) 2x\
    )
    scale -1 1
    translate 0 var(--before-translate-y)
    +media(l)
      left -350px
  +after()
    position absolute
    right -500px
    bottom 0
    z-index -1
    width 776px
    height 776px
    rotate 10deg
    background-image image-set(\
      url(../images/branch-2.webp) 1x,\
      url(../images/branch-2@2x.webp) 2x\
    )
    filter blur(4px)
    translate 0 var(--after-translate-y)
    +media(l)
      right -300px
  &__title
    z-index 2
  &__list
    z-index 1
    list-style none
    counter-reset homeStages
    +media(m)
      margin-top 24px
    +before()
      position absolute
      top -150px
      bottom 0
      left 50%
      z-index -1
      width 100vw
      margin-inline 0
      background-image linear-gradient(to bottom, transparent 150px, #F5F9F8 calc(100% - 50px), transparent)
      translate -50%
  &__item
    display grid
    align-items center
    gap 20px var(--gap)
    counter-increment homeStages
    +media(m)
      grid-template-columns repeat(2, 1fr)
    +before(counter(homeStages))
      justify-self center
      margin-left 20px
      margin-top 30px
      font-family var(--font-family-secondary)
      font-size 64px
      background-image var(--primary)
      background-clip text
      -webkit-text-fill-color transparent
      text-fill-color transparents
      translate 0 var(--item-before-translate-y)
      +media(m)
        grid-column 2/3
        grid-row 1
        justify-self start
        font-size 111px
    +after()
      grid-column 2/3
      grid-row 1
      justify-self start
      margin-left 98px
      width 20px
      height 20px
      border-radius 22px
      border 4px solid transparent
      background var(--grey) border-box
      -webkit-mask linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
      -webkit-mask-composite xor
      mask-composite exclude
      translate 0 var(--item-after-translate-y)
      +media-max(m)
        display none
    p
      padding 20px
      background-color var(--color-background)
      border-radius 30px
      box-shadow var(--card-shadow)
      outline 1px solid rgba(244, 242, 255, 1)
      outline-offset -10px
      +media-max(m)
        width 100vw
        margin-inline -20px
      +media(m)
        grid-column 1/2
        grid-row 1
        padding 40px
    &:nth-of-type(2n)
      &::before
        +media(m)
          grid-column 1/2
          justify-self end
          margin-right 20px
      &::after
        +media(m)
          grid-column 1/2
          justify-self end
          margin-right 98px
      p
        +media(m)
          grid-column 2/3
    & + &
      margin-top 40px
      +media(m)
        margin-top 66px
