include /blocks/page-section/page-section

mixin homeStages(list = [])
  +pageSection().home-stages
    h2.home-stages__title.text-align-center.appear Этапы работы
    ol.home-stages__list&attributes(attributes)
      each item in list
        li.home-stages__item.appear: p !{item}
