.rating
  display flex
  column-gap 3px
  &__star
    --gradient-stop 0
    --star-size 14px
    width var(--star-size)
    height var(--star-size)
    mask-image maskImage(star, common)
    mask-repeat no-repeat
    mask-size contain
    mask-type alpha
    background-image linear-gradient(to right, var(--primary-to) var(--gradient-stop), var(--primary-from-light) var(--gradient-stop))
