include /common/pug/helpers

include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/header/header
include /blocks/footer/footer
include /blocks/modal/modal
include /blocks/form-input/form-input

doctype html
html(lang='ru')
  include ../head/head
  body
    +header
    main: block content
    +footer
    +modal({ width: '32rem' })#callback
      h3 Обратный звонок
      form.form.p
        +formInput({ type: 'tel', placeholder: 'Ваш номер телефона', required:true }) 
        +formInput({ type: 'checkbox', label: 'Отправляя эту форму, вы&nbsp;соглашаетесь с&nbsp;<a class="link" href="/">условиями обработки персональных данных</a>.', checked: true, required:true }) 
        button(type='submit').button Заказать обратный звонок
    +modal({ width: '32rem' })#color-form
      h3 Подобрать цвет по фотографии
      form.form.p
        +formInput({ type: 'text', placeholder: 'Имя', required:true })
        +formInput({ type: 'tel', placeholder: 'Ваш номер телефона', required:true })
        +formInput({ type: 'file', label: 'Фотографии волос', required:true })
        +formInput({ type: 'checkbox', label: 'Отправляя эту форму, вы&nbsp;соглашаетесь с&nbsp;<a class="link" href="/">условиями обработки персональных данных</a>.', checked: true, required:true })
        button(type='submit').button Отправить
    //- +modal({ width: '32rem' })#quick-buy
    //-   h3 Купить в 1 клик
    //-   p Перезвоним уточнить место доставки, выберем удобный способ оплаты, проконсультируем по товару.
    //-   form.form.p
    //-     +formInput({ type: 'tel', placeholder: 'Ваш номер телефона', required:true })
    //-     +formInput({ type: 'checkbox', label: 'Отправляя эту форму, вы&nbsp;соглашаетесь с&nbsp;<a class="link" href="/">условиями обработки персональных данных</a>.', checked: true, required:true })
    //-     button(type='submit').button Заказать
    +modal({ width: '32rem' })#services
      p Адаптация системы волос по&nbsp;размеру: 2000&nbsp;&mdash; 5000 рублей 
      p Окраска системы волос: 1600&nbsp;&mdash; 2500 рублей 
      p Первая стрижка системы волос: 2500&nbsp;&mdash; 4000 рублей

  +style('style.rest')
  if (resourcesName)
    +style(`style-${resourcesName}.rest`)
  -
    const scripts = ['script.js', 'https://api-maps.yandex.ru/2.1/?lang=ru_RU']
    if (resourcesName) scripts.push(`script-${resourcesName}.js`)
  +scripts(scripts)
