.table-wrap
  overflow-x auto
.table
  width 100%
  &__header
    padding calc(var(--gap)/2)
    font-size 18px
    text-align center
    vertical-align middle
    background-color var(--color-light-violet)
  &__cell
    padding calc(var(--gap)/3)
    vertical-align middle
    border-bottom 1px solid var(--color-light-violet)
    ^[-1]__row:last-child > &
      border-bottom 1px solid var(--color-light-violet)
  &--comparison-table
    ^[0]__header
      text-transform uppercase
      &:first-child
        background-color transparent
      &:nth-child(2)
        border-radius 20px 20px 0 0 
      &:last-child
        background-color transparent
        border-bottom 1px solid var(--color-light-violet)
        border-radius 0 20px 0 0 
    ^[0]__cell
      &:nth-child(2)
        background-color rgba(#f4f2ff, 0.3)

.comparison-table
  box-shadow 0 11.5px 7px 0 rgba(119, 108, 177, .04), 0 51px 47px 0 rgba(119, 108, 177, .07)
