include /blocks/slider/slider

mixin productPhotos
  .product-photos&attributes(attributes)
    a(href='images/product/7WA/7WA-1.webp' data-glightbox data-gallery='photos').product-photos__main 
      +img({
        name: '7WA-1',
        path: '/images/product/7WA/',
        formats: [
          { ext: 'webp', type: 'image/webp' },
          { ext: 'jpg', orig: true }
        ],
        density: [{ values: [ 1, 2 ] }],
      })
    +slider({ pagination:true }).product-photos__list
      - for (let i = 2; i < 7; i++)
        +slide.product-photos__slide
          a(href=`/images/product/7WA/7WA-${i}.webp` data-glightbox data-gallery='photos').product-photos__item 
            +img({
              name: `7WA-${i}`,
              path: '/images/product/7WA/',
              formats: [
                { ext: 'webp', type: 'image/webp' },
                { ext: 'jpg', orig: true }
              ],
              density: [{ values: [ 1, 2 ] }],
            })
      //- +slide.product-photos__slide.product-photos__slide--video
      //-   video.product-photos__video
      //-     source(src= '/video/39WA-1.mp4')
      //- +slide.product-photos__slide.product-photos__slide--video
      //-   video.product-photos__video
      //-     source(src= '/video/39WA-2.mp4')
