.product-photos
  display grid
  row-gap calc(var(--gap)/2)
  column-gap calc(var(--gap)/1.5)
  +media-interval(s, m)
    grid-template-columns repeat(2, 1fr)
  &__list
    min-width: 0; // для свайпера
  //   display grid
  //   grid-template-columns repeat(4, 1fr)
  //   gap calc(var(--gap)/2)
  //   +media-interval(s, m)
  //     grid-template-columns repeat(2, 1fr)
  &__item
    display flex
