@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  --arrow-position 0
  --arrow-size var(--gap)
  position relative
  &__slides
    position static
  &__wrapper
    display grid
    grid-auto-columns auto
    grid-template-rows auto
    grid-auto-flow column
  &__arrow
    position absolute
    bottom 0
    width var(--arrow-size)
    height var(--arrow-size)
    &--prev
      left var(--arrow-position)
    &--next
      right var(--arrow-position)
  &__pagination
    display flex
    gap 0.5rem
    justify-content center
    align-items center
    margin-block 20px 16px
  &__pagination-item
    position relative
    bottom unset
    width 0.5rem
    height 0.5rem
