.slider
  &__arrow
    --arrow-color var(--primary-to)
    --arrow-transition-duration var(--transition-duration-out)
    cursor pointer
    mask-image maskImage(arrow, common)
    mask-repeat no-repeat
    mask-position center
    mask-size 2rem
    background-color var(--arrow-color)
    transition background-color var(--transition-duration-out)
    &--next
      transform scaleX(-1)
    &:hover
      --arrow-color var(--primary-from)
      --arrow-transition-duration var(--transition-duration-in)
      transition-duration var(--transition-duration-in)
    &--disabled
    &--disabled:hover
    &--disabled:active
      background-color var(--color-text-secondary)
      cursor default
  &__pagination-item
    --transition-duration var(--transition-duration-out)
    background-color var(--primary-from)
    border-radius 100vmax
    transition background-color var(--transition-duration)
    &--active
      background-color var(--primary-to)
      --transition-duration var(--transition-duration-in)
