extends /blocks/layout/layout

include /blocks/button/button
include /blocks/container/container
include /blocks/content/content

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'ui-kit'
  include /data/menu/index
block content
  +container: +content
    +grid
        +button() Записаться в шоурум
        +button({ secondary: true }) Записаться в шоурум
