:root
  --button-color var(--color-background)
  --button-color-secondary var(--button-color-text)
  --button-background-color none
  --button-background-color-hover none
  --button-background-color-secondary none
  --button-background-color-secondary-hover none
  --button-background-image var(--primary)
  --button-background-image-secondary 0
  --button-border none
  --button-border-secondary 2px solid
  --button-before-inset 0
  --button-before-inset-secondary 2px
  --button-before-opacity 0
  --button-before-background-image radial-gradient(100% 100% at 50% 0, #796CBB 0%, #5E529C 89%)
  --button-before-background-image-secondary radial-gradient(100% 100% at 50% 0, rgba(160, 149, 215, .1) 0%, rgba(119, 108, 177, .1) 89%);
  --button-before-transition-duration var(--transition-duration-out)

.button
  --color-text var(--button-color)
  position relative
  isolation isolate
  appearance none
  display block
  padding 25px 45px
  font-size 17px
  font-weight 600
  line-height 24px
  text-align center
  background-color var(--button-background-color)
  background-image var(--button-background-image)
  border var(--button-border)
  border-radius 20px
  box-shadow 0px 51px 56px 0px rgba(119, 108, 177, 0.20)
  +before()
    position absolute
    inset var(--button-before-inset)
    z-index -1
    border-radius 20px
    background-image var(--button-before-background-image)
    opacity var(--button-before-opacity)
    transition opacity var(--button-before-transition-duration)
  +hover()
    --button-before-opacity 1
    --button-before-transition-duration var(--transition-duration-in)
  &--secondary
    --button-color var(--button-color-secondary)
    --button-background-image var(--button-background-image-secondary)
    --button-before-inset var(--button-before-inset-secondary)
    --button-before-background-image var(--button-before-background-image-secondary)
    box-shadow none
    +after()
      position absolute
      inset 0
      z-index -2
      border-radius 22px
      border 2px solid transparent
      background var(--grey) border-box
      -webkit-mask linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
      -webkit-mask-composite xor
      mask-composite exclude
