mixin homeProduct(item, settings = {})
  #{settings.tag || 'div'}(class= classes('home-product', settings))&attributes(attributes)
    if item.link
      a(href= item.link).home-product__link
        +img({
          name: item.image,
          path: '/images/',
          formats: [
            { ext: 'webp', type: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] },
          ],
        })(width='373' height='500').home-product__image
    else 
      +img({
        name: item.image,
        path: '/images/',
        formats: [
          { ext: 'webp', type: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] },
        ],
      })(width='373' height='500').home-product__image
    if item.video
      video.home-product__video
        source(src= `/video/${item.video}`)
    .home-product__price
      span Стоимость системы
      strong !{item.price}₽
