.breadcrumbs
  flex-wrap wrap
  align-items center
  &__parent
    a
      background-image var(--primary)
      background-clip text
      -webkit-text-fill-color transparent
      text-fill-color transparent
      border-image var(--primary) 1 / 0 0 1px 0
      transition filter var(--transition-duration-out)
      +hover()
        filter saturate(1.25) brightness(.5)
        transition filter var(--transition-duration-in)
