.breadcrumbs
  display flex
  padding-bottom calc(var(--gap)/1.5)
  font-size 16px
  font-weight 500
  &__parent
    padding-right 7px
  &__separator
    border .25rem solid transparent
    border-left .25rem solid var(--primary-from)
