.block-marked
  --color-text var(--color-background)
  padding 20px
  background-image var(--primary)
  border-radius 15px
  outline 1px solid rgba(244, 242, 255, .1)
  outline-offset -10px
  +media-max(m)
    margin-inline -20px
  +media(m)
    padding var(--gap)
    border-radius 25px
  p
    +media(m)
      font-size 18px
  &--icon--book
    position relative
    display flex
    align-items center
    gap 12px
    +before()
      display block
      min-width 3rem
      width 3rem
      height 3rem
      mask-image maskImage(book, common)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      background-color white
  &--light
    --color-text var(--color-text)
    background-image none
    background-color var(--color-light-violet)
    outline 1px solid var(--primary-to)
