.product-properties
  display grid
  grid-template-columns max-content 1fr
  &__item
    display contents
  &__name
    padding-right 1.5rem
  &__name
  &__value
    padding-y 0.75rem
    border-bottom 1px solid var(--color-light-violet)
