include /blocks/page-section/page-section
include /blocks/content/content

mixin homeContacts
  +pageSection({ noContent: true }).home-contacts&attributes(attributes): +content(class= grid())
    +cell({ l: 5, xs: 12 }).home-contacts__inner
      +img({
        name: 'home-contacts',
        path: '/images/',
        formats: [
          { ext: 'webp', type: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { name: 's', values: [ 1, 2 ], width: '480', height: '384' },
          { name: 'm', values: [ 1, 2 ], width: '477', height: '298' },
        ],
      }).home-contacts__image
      .home-contacts__map#home-contacts-map
      .home-contacts__info
        .home-contacts__item.home-contacts__item--address
          .home-contacts__subtitle г. Санкт-Петербург,<br>наб. Обводного канала 108
          .home-contacts__description В нашем салоне вы можете примерить готовые изделия и посмотреть волосы, из которых их делают.
          .home-contacts__clarification пн-пт: с 10:00 до 21:00<br>сб-вс: с 10:00 до 19:00
        .home-contacts__item.home-contacts__item--parking
          .home-contacts__subtitle Припарковаться на машине
          .home-contacts__clarification Перед входом парковочные места. Обычно 2-3 места свободные. Если все занято, то правее от здания есть площадка для машин.
        .home-contacts__item.home-contacts__item--walk
          .home-contacts__subtitle Добраться пешком
          .home-contacts__clarification Балтийская — 10 мин<br>Фрунзенская — 5 мин
