mixin catalogSort
  .catalog-sort&attributes(attributes)
    .catalog-sort__title Сортировать по:
    .catalog-sort__item 
      a(href='/').link дате
    .catalog-sort__item 
      a(href='/').link убыванию цены
    .catalog-sort__item 
      a(href='/').link возрастанию цены
