@import '../../../node_modules/nouislider/dist/nouislider.min.css'

.catalog-filter
  --arrow-width 1px
  --arrow-height 13px
  --before-arrow-transform translate(-8px, 0) rotate(-45deg)
  --after-arrow-transform translate(1px, 0) rotate(45deg)
  --body-padding-bottom 0
  transition grid-template-rows var(--transition-duration-out) ease-in-out
  &--active
    grid-template-rows min-content 1fr
    transition-duration var(--transition-duration-in)
  &__item
    transition grid-template-rows var(--transition-duration-out) ease-in-out
    &--active
      --before-arrow-transform translate(-8px, 0) rotate(45deg)
      --after-arrow-transform translate(1px, 0) rotate(-45deg)
      --body-padding-bottom 1rem
      grid-template-rows min-content 1fr
      transition-duration var(--transition-duration-in)
    &--is-openable
      cursor pointer
  &__body
    display flex
    flex-direction column
    row-gap 4px
    padding-bottom var(--body-padding-bottom)
    transition padding-bottom var(--transition-duration-out) ease-in-out
  &__arrow
    &::before
    &::after
      content ''
      position absolute
      background-color var(--color-text)
      width var(--arrow-width)
      height var(--arrow-height)
      top calc(50% - 8px)
      left calc(100% - 2rem)
      transition transform .15s ease-in-out
    &::before
      transform var(--before-arrow-transform)
    &::after
      transform var(--after-arrow-transform)
  &__price-range
    &.noUi-target
      background-color var(--primary-from-light)
      box-shadow none
    & .noUi-connect
      background-color var(--primary-to)
    &.noUi-horizontal .noUi-handle
      right -1.3rem
      top -0.625rem
      width 1.5rem
      height 1.5rem
      background-color var(--color-light-violet) 
      border-radius 50%
      border none
      box-shadow inset 0 0 0 2px var(--primary-from)
      cursor pointer
      &::before
      &::after
        display none
  &__button
    box-shadow none
  &__count
    text-align center
