mixin catalogFilter
  .catalog-filter&attributes(attributes)
    button(type='button').button.catalog-filter__mobile.hidden-m.hidden-l Показать фильтр
    .catalog-filter__inner 
      .catalog-filter__item
        .catalog-filter__title Цена 
        .catalog-filter__price
          +formInput({ type: 'number', label: 'От', min:'0' })#price-from
          +formInput({ type: 'number', label: 'До', min:'1' })#price-to
        .catalog-filter__price-range(data-max-price= '150000')
      .catalog-filter__item.catalog-filter__item--is-openable
        .catalog-filter__title Тип #[.catalog-filter__arrow]
        .catalog-filter__body
          +formInput({ type: 'checkbox', label: 'Система волос' }) 
          +formInput({ type: 'checkbox', label: 'Накладка' }) 
      .catalog-filter__item.catalog-filter__item--is-openable
        .catalog-filter__title Цвет #[.catalog-filter__arrow]
        .catalog-filter__body
          +formInput({ type: 'checkbox', label: 'Шатен' }) 
          +formInput({ type: 'checkbox', label: 'Брюнет' }) 
          +formInput({ type: 'checkbox', label: 'Рыжий' }) 
          +formInput({ type: 'checkbox', label: 'Блонд' }) 
          +formInput({ type: 'checkbox', label: 'Русый волос' }) 
      .catalog-filter__count Выбрано:3
      button(type='button').button.catalog-filter__button Показать
      button(type='button').button.button--secondary.catalog-filter__button.catalog-filter__button--reset Сбросить
