.catalog-filter
  display grid
  grid-template-rows min-content 0fr
  &__inner
    padding-inline 14px
    margin-inline -14px
    overflow hidden
    +media-max(s)
      margin-inline -6px
  &__item
    display grid
    grid-template-rows min-content 0fr
    border-bottom 1px solid var(--primary-from)
  &__body
    overflow hidden
  &__price
    display flex
    gap 32px
  &__title
    position relative
    margin-y 10px
    font-size 18px
    font-weight 700
  & .form-input--number
    align-items flex-start
    gap 4px
    .form-input__label
      font-size 14px
  &__price-range
    position relative
    margin-y 32px
    & .noUi-base
      width calc(100% - 1.3rem)
    &.noUi-target
      height 0.25rem
      border none
  &__button
    width 100%
    margin-top 32px
    padding 14px
    &--reset
      margin-top 14px
  &__mobile
    padding 14px
  &__count
    margin-top 16px
