.home-feedback
  --swiper-pagination-color var(--primary-to)
  --swiper-pagination-bullet-inactive-color var(--primary-from)
  &__item
    --text-webkit-line-clamp 6
    --text-overflow hidden
    --text-max-height calc(1.5em * 6)
    height 100%
    border 1px solid var(--primary-to)
    border-radius var(--border-radius-l)
    overflow hidden
    &--active
      --text-webkit-line-clamp unset
      --text-overflow visible
      --text-max-height none
  &__header
    padding 10px 30px
    font-size 14px
    color var(--color-background)
    text-align right
    background-color var(--primary-to)
    a
      color var(--color-background)
      -webkit-text-fill-color unset
      text-fill-color unset
      text-decoration underline
      transition opacity var(--transition-duration-out)
      +hover()
        opacity 0.5
        filter none
        transition-duration var(--transition-duration-in)
  &__inner
    position relative
    padding 25px 30px 30px
    display flex
    flex-direction column
    align-items flex-start
    +before()
      mask-image maskImage(quote, common)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      position absolute
      top 20px
      right 30px
      z-index -1
      width 130px
      height 90px
      background-color var(--color-light-violet)
      opacity .5
  &__name
    margin-bottom 2px
    font-weight 500
  &__date
    color var(--color-text-secondary)
  &__info
    display flex
    gap calc(var(--gap) / 2)
    align-items center
    margin-bottom 12px
  &__text
    display -webkit-box
    -webkit-line-clamp var(--text-webkit-line-clamp)
    -webkit-box-orient vertical
    overflow var(--text-overflow)
    text-overflow ellipsis
    line-height 1.5em
    max-height var(--text-max-height)
  &__image
    margin-top 12px
    img
      aspect-ratio 1/1
      object-fit cover
      border-radius var(--border-radius-s)
  &__link
    display none
    &--active
      display block
  .slider__wrapper
    display grid
  .slider__pagination
    display block
    margin-right auto
    margin-left auto
    translate 50% 0
