mixin productPrice 
  .product-price&attributes(attributes)
    .product-price__value 45&nbsp;200&nbsp;₽
    +blockMarked
      p Нет в наличии, возможен повтор
    .product-price__number Артикул: 7WA
