.product-price
  display grid
  grid-template-columns: repeat(3, auto);
  align-items center
  justify-content space-between
  gap 1rem
  +media-max(s)
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto;
    grid-auto-flow: row dense;
  &__value
    font-size 32px
    font-weight 700
  &__number
    margin-left auto
  & .block-marked
    +media-interval(s, m)
      margin-inline 0
    +media-max(s)
      grid-column 1/-1
