.home-purchase
  --arrow-width 1px
  --arrow-height 13px
  --before-arrow-transform translate(-8px, 0) rotate(-45deg)
  --after-arrow-transform translate(1px, 0) rotate(45deg)
  padding 48px 32px
  background-color var(--color-background)
  border-radius 10px
  box-shadow var(--card-shadow)
  outline 1px solid #e9e6f6
  outline-offset -10px
  counter-reset list-counter

  display grid
  align-items start
  column-gap var(--gap)
  row-gap calc(var(--gap) / 2)
  +media(m)
    grid-template-columns repeat(3, 1fr)
    grid-template-rows repeat(3, min-content)
    grid-auto-flow column
  &__item
    position relative
    display grid
    grid-template-rows min-content 0fr
    transition-property grid-template-rows
    transition-duration var(--transition-duration-out)
    &--active
      --before-arrow-transform translate(-8px, 0) rotate(45deg)
      --after-arrow-transform translate(1px, 0) rotate(-45deg)
      grid-template-rows min-content 1fr
      transition-duration var(--transition-duration-in)
  &__title
    position relative
    margin-bottom 8px
    padding-inline 42px
    font-weight 500
    &--is-openable
      cursor pointer
    &::before
      position absolute
      left 0
      top 50%
      transform translateY(-50%)
      display flex
      align-items center
      justify-content center
      min-width 32px
      min-height 32px
      content counter(list-counter)
      counter-increment list-counter
      border-radius 50%
      background-color var(--primary-to)
      color var(--color-background)
      font-weight 500
  &__body
    padding-left 42px
    overflow hidden
  &__arrow
    &::before
    &::after
      content ''
      position absolute
      background-color var(--color-text)
      width var(--arrow-width)
      height var(--arrow-height)
      top calc(50% - 8px)
      left calc(100% - 2rem)
      transition transform .15s ease-in-out
    &::before
      transform var(--before-arrow-transform)
    &::after
      transform var(--after-arrow-transform)
