.list-unordered
  &__item
    padding-block 3px
    padding-left 37px
    +media(m)
      padding-block 8px
      padding-left 50px
    & + &
      margin-top 10px
  &--style--disc
    padding-left 1rem
    & ^[0]__item
      padding-block 0
      padding-left 0
      +media(m)
        padding-block 0
        padding-left 0
  &--column--2
    column-count 2
