:is(h1, .h1)
  font-family var(--font-family-secondary)
  font-size 30px
  line-height 40px;
  // +media(s)
  //   grid-column 1/2
  //   align-self end
  +media(m)
    font-size 56px
    line-height 58px
