.home-advantages
  position relative
  z-index 2
  &__list
    padding 30px 10px
    +media(m)
      margin-top -78px
      padding 40px
  &__item
    display flex
    flex-direction column
    align-items center
    text-align center
    +before()
      width 120px
      height 120px
      margin-bottom 20px
  &__title
    margin-bottom 5px
    font-size 18px
    font-weight 500
    line-height 24px
