include /blocks/container/container
include /blocks/content/content
include /blocks/page-section/page-section

mixin homeAdvantages(list)
  +pageSection({ noContent: true }).home-advantages&attributes(attributes): +content({ tag: 'ul' })(class= grid()).home-advantages__list
    each item in list
      li.home-advantages__item(class=`home-advantages__item--${item.type} ${cell({ m: 3, s: 6, xs: 12 })}`)
        .home-advantages__title !{item.title}
        p.home-advantages__description !{item.description}
