.home-advantages
  &__list
    background-color var(--color-background)
    border-radius 10px
    box-shadow var(--card-shadow)
    outline 1px solid #E9E6F6
    outline-offset -10px
    +media(m)
      border-radius 30px
  &__item
    &::before
      background-image var(--primary)
      mask-image var(--before-mask-image)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    for icon in experience warranty repair all-in-one
      &--{icon}
        --before-mask-image maskImage(icon, home)
