.form-input
  display flex
  flex-direction column
  align-items center
  gap 8px
  &__field
  &__select
    display block
    width 100%
    padding 20px
    font-size 16px
    line-height 1.5
    border 1px solid #E9E6F6
    border-radius 20px
    textarea&
      height 202px
      resize none
  &__label
    display inline-block
  &__checkbox
    flex-shrink 0
  &--radio 
  &--checkbox
    flex-direction row
    & ^[0]__field
      width auto
      padding 0
    & ^[0]__label
      order 2
      padding-left 0.5rem
  &__field[type="checkbox"]
    position relative
    min-width 20px
    min-height 20px
    padding 0
    background-color var(--color-light-violet)
    border 1px solid
    border-color var(--primary-to)
    border-radius var(--border-radius-s)
    cursor pointer
    appearance none
    +before()
      position absolute
      width 12px
      height 10px
      top 50%
      left 50%
      transform translate(-50%,-50%)
      overflow hidden
    &:checked
      background-color var(--primary-to)
      &::before
        mask-image maskImage(checkbox)
        mask-repeat no-repeat
        mask-position center
        mask-size cover
        background-color var(--color-light-violet)
  &__field[type="number"]
    padding 8px
    border-radius var(--border-radius-s)
    &::-webkit-inner-spin-button
    &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0
