head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='preload' href='/template/fonts/Inter-Regular.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  link(rel='preload' href='/template/fonts/Inter-Medium.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  link(rel='preload' href='/template/fonts/Inter-SemiBold.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  link(rel='preload' href='/template/fonts/Prata-Regular.woff2' as='font' type='font/woff2' crossorigin='anonymous')


  -
    const info = require ('../src/common/settings.json')
    const { siteName, breakpoints } = info;

  block head
  +style('style.core')
  if (resourcesName)
    +style(`style-${resourcesName}.core`)
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
