extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/content/content
include /blocks/breadcrumbs/breadcrumbs
include /blocks/img/img
include /blocks/catalog-filter/catalog-filter
include /blocks/catalog-sort/catalog-sort

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'catalog'
  include /data/menu/index
  include /data/home/index
  include /data/catalog
block content
  +pageSection({ topIndent: true })
    +breadcrumbs({parents:['Главная'], current:'Каталог'})
    h1 Каталог
    +grid.page-subsection
      +catalogFilter(class= cell({ m:3, s:8 }))
      +cell({ m:9 })
        +catalogSort.page-subsection
        +pageSubsection(class= grid())
          each item in catalog
            +cell({ tag: 'a', m:3, s:4, xs:6 })(href='/product.html').product-item
              +img({
                name: item.img,
                path: '/images/',
                formats: [
                  { ext: 'webp', type: 'image/webp' },
                  { ext: 'jpg', orig: true }
                ],
                density: [{ values: [ 1, 2 ] }],
              }).image-border-radius
              button.button.product-item__button Подробнее
              .product-item__title !{item.title}
              .product-item__price #[strong !{item.price}]
        +grid.page-subsection
          +cell({ m:4, tag: 'a' })(href='#').product-more-button.button Показать еще
