extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/content/content
include /blocks/img/img
include /blocks/block-marked/block-marked
include /blocks/form-input/form-input
include /blocks/breadcrumbs/breadcrumbs
include /blocks/text-marked/text-marked
include /blocks/list-item/list-item
include /blocks/list-unordered/list-unordered
include /blocks/product-photos/product-photos
include /blocks/product-price/product-price
include /blocks/product-colors/product-colors
include /blocks/tabs/tabs

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'catalog'
  include /data/menu/index
block content
  +pageSection({ topIndent: true })
    +breadcrumbs({parents:['Главная', 'Каталог'], current:'Накладка на пробор, 50 см, русый'})
    h1 Накладка на пробор, 50 см, русый
    +grid.page-subsection 
      +cell({ m:4 })
        +productPhotos.page-subsection
        +blockMarked({ light:true }).page-subsection
          p #[strong Сложно выбрать цвет, размер основы?]
          +ul({ style: 'disc' }).p
            +li Свяжитесь с нами в мессенджере или соц. сети.
              +linkIcons(['telegram', 'whatsapp', 'vkontakte', 'facebook', 'instagram'], {padding: 'top'})
            +li #[a(href='#callback' data-modal).link Оставьте телефон], позвоним вам в удобное время.
          p Подберем нужный товар, выберем способ доставки и оплаты.

      +cell({ m:8 })
        +productPrice.page-subsection
        +productColors.page-subsection
        +grid.page-subsection.product-details
          +cell({ m:6 })
            .product-details__size 
              +textMarked({ tag: 'p', size: 'm'}) #[strong Размер основы]
              a(href='#size-tab').link Как измерить?
            .product-details__list 
              +formInput({ type: 'radio', label: 'длина: 10 см × ширина: 14 см', checked: true }).product-details__item
          +cell({ m:6 }).product-details__clarification
            p Возможна доработка системы: адаптационная стрижка по желанию клиента. Изделие не подлежит окрашиванию. 
            p: a(href='#services' data-modal).link Стоимость дополнительных услуг
        +blockMarked({ icon: 'book' }).page-subsection
          p Обучим установке, перефиксации и самостоятельному уходу. #[br] Дадим пошаговые инструкции.
        .product-properties.page-subsection
          - 
            const properties = [
              {
                name: 'Тип',
                value: 'Накладка на пробор',
              },
              {
                name: 'Длина волос',
                value: '50&nbsp;см',
              },
              {
                name: 'Тип волос',
                value: 'Волосы донорские славянские. Легкая природная волна',
              },
              {
                name: 'Тип основы',
                value: 'Сетка',
              },
              {
                name: 'Конструкция основы',
                value: 'Сетка, минизажимы',
              },
              {
                name: 'Способ крепления',
                value: 'На минизажимы к своим волосам',
              },
            ]
          each item in properties  
            .product-properties__item 
              .product-properties__name !{item.name}
              .product-properties__value !{item.value}
        +pageSubsection 
          h2 Описание
          p Удобная легкая накладка для дополнительного объема в области пробора. Полностью ручная работа. Накладку можно изготовить как из волос волнистой структуры, так и из прямых. Также можно использовать тот оттенок и длину волос, которая вам больше подходит. 
      
      +tabs(class= cell({xs:12}))
        +tab({name: 'Характеристики'})
          +grid.page-subsection
            +cell({ m:4 })
              h2 Детальная информация
              p Для кого: Женская #[br] Вес (гр): 48 #[br] Волосы: Донорские славянские. Легкая природная волна
            +cell({ m:8 })
              h2 Материал волос
              p Волосы высочайшего качества с густыми кончиками, максимально подобранные по структуре к славянскому типу волос.
              p Натуральные волосы:
              +ul({ style: 'disc', column:2 }).p
                +li лежат естественно
                +li обладают здоровым блеском
                +li очень комфортны в носке
                +li можно укладывать любым способом
                +li можно окрашивать
                +li долговечны, срок службы 1-2 года
          +grid.page-subsection
            +cell({ m:4, s:5 })
              +img({
                name: 'base-muse',
                path: '/images/product/',
                formats: [
                  { ext: 'webp', type: 'image/webp' },
                  { ext: 'jpg', orig: true },
                ],
                density: [
                  { values: [ 1, 2 ] },
                ],
              }).image-border-radius
            +cell({ m:8, s:7 })
              h2 Конструкция основы
              p Основа, обеспечивающая возможность самостоятельной фиксации на двусторонний скотч, а также при необходимости на дополнительные гребешки и зажимы (заколки). Данный вид основы предназначен для натуральной густоты системы волос, позволяет легко смещать пробор и выполнять любые виды стрижек. Вставка из стретч-материала на затылке обеспечивает плотное прилегание изделия к голове в пределах нескольких размеров. Резинки для регулировки можно использовать для еще более плотной посадки системы волос, что придает еще больше уверенности в том, что все надежно зафиксировано, и вам не грозят никакие неприятные сюрпризы.
          .page-subsection
            h2 Как крепится
            p Удобней фиксировать на двусторонний скотч. В зависимости от ваших предпочтений можно использовать как скотч слабой фиксации (если снимать каждый день или раз в 2-3 дня) или сильной фиксации (раз в неделю и реже). Рекомендуется для фиксации двусторонний скотч марки Sunshine в виде контурных полосок. Они разработаны специально для фиксации сетки к коже головы. #[a(href='#').link Инструкция.]
        +tab({name: 'Как подобрать цвет?', labelId:'color-tab'})
          +pageSubsection
            h2 Как подобрать цвет системы?
            p Из-за индивидуальных настроек монитора и разной освещенности, настоящий цвет парика может сильно отличаться от того, что вы видите на экране.
            p Если вы хотите подобрать цвет системы волос к какому-либо конкретному цвету, например, вашему натуральному цвету волос, мы можем предложить вам следующие варианты.
          +grid.page-subsection
            +cell({ m:6 })
              +pageSubsection
                h3 Подобрать цвет по фотографии
                p Вы можете отправить нам фотографию волос
                +ul({ style: 'disc'}).p 
                  +li на почту #[a(href='mailto:info@hairsystems.ru').link info@hairsystems.ru]
                  +li с помощью #[a(href='#color-form' data-modal).link специальной формы]
                  +li в мессенджере
                    +linkIcons(['telegram', 'whatsapp'], {padding: 'top'})
                  +li личным сообщением в социальной сети
                    +linkIcons(['vkontakte', 'facebook', 'instagram'], {padding: 'top'})
                p Лучше сделать несколько фотографий при разном освещении для сравнения.
              +pageSubsection
                h3 Консультация по телефону или онлайн
                p Звоните нам по номеру +7 (921) 188-98-66 или оставьте #[a(href='#callback' data-modal).link заявку на обратный звонок].
                p Звоните нам по видео связи:
                  +linkIcons(['telegram', 'whatsapp'], {padding: 'top'})
                p Наш сотрудник подскажет возможные варианты и поможет выбрать цвет.
            +cell({ m:6 })
              h3 Подобрать цвет по пряди ваших волос
              p Вы можете прислать нам письмом небольшую прядь ваших волос или волос вашего парика. Наш опытный специалист подберет цвет. В письме необходимо указать название и марку изделия, к которому требуется подобрать цвет.
              br
              a(href='#' data-mrc-sh-title="prepare-hair").link.page-subsection Подготовка пряди
              .block-marked(data-mrc-sh-body="prepare-hair").page-subsection
                +textMarked({ tag: 'p', size: 's'}) Отрежьте прядь хотя бы 3×5 см (желательно потолще, так как это упростит нам подбор цвета). Убедитесь, что срезанная прядь именно того цвета, который вы хотели бы подобрать. Затем аккуратно приклейте ее полоской скотча на лист простой белой бумаги и положите в конверт. Напишите на конверте имя, номер телефона, e-mail и номер заказа, а также модель парика, которую вы заказываете.
        +tab({name: 'Размер основы', labelId:'size-tab'})
          h2 Как выбрать размер системы?
          +grid({ justify: 'center'}).page-subsection
            +cell({ m:2, s:3, xs:6 })
              img(src="/images/product/head-measuring.svg" alt="Как выбрать замер системы?")
            +cell({ m:10, s:9 })
              p Чтобы определить правильный размер окружности головы, оберните ленту — сантиметр на расстоянии 1,5-2,5 сантиметра выше бровей, немного выше ушей и в той точке на затылке, которая дает вам наибольшую длину окружности. Измерьте голову несколько раз, чтобы избежать ошибок.
              p Прикладывайте метр наиболее плотно – система должна сидеть четко, а не болтаться взад-вперед. Если округляете – то только в большую сторону.
              p XS - 50 см #[br] S - 52 см #[br] M - 54 см #[br] L - 56 см #[br] XL - 58 см

        +tab({name: 'Оплата и доставка'})
          h2 Доставка
          +grid.page-subsection
            +cell({ m:6 })
              h3 Москва
              p Доставка в&nbsp;Москву осуществляется курьерской службой &laquo;Курьер сервис экспресс&raquo;.
              p Cрок доставки 1-2 рабочих дня, отправка в&nbsp;день заказа при оплате до&nbsp;13.00.
              p #[strong Стоимость&nbsp;&mdash; 585&nbsp;руб.]
            +cell({ m:6 })
              h3 Доставка по&nbsp;России
              p Отправляем транспортной компанией КСЭ.
              p #[strong  Стоимость: от&nbsp;520 до&nbsp;1150&nbsp;руб.]
              p Стоимость и&nbsp;скорость доставки зависит от&nbsp;удаленности города от&nbsp;Санкт-Петербурга.
              p Срок доставки и&nbsp;стоимость рассчитывается автоматически в&nbsp;корзине при оформлении заказа. Для расчета укажите ваш город и&nbsp;выберите способ доставки &laquo;Транспортной компанией (курьер)&raquo;.
              p В&nbsp;день доставки курьер позвонит и&nbsp;согласует время.
          +pageSubsection
              h2 Оплата
              p Принимаем оплату на сайте в режиме онлайн.

        +tab({name: 'Гарантии'})
          h2 Гарантии
          p Гарантия действует в течение #[strong двух недель] с момента получения вами оплаченного изделия. На изделии должна быть сохранена фирменная бирка. Вы можете вернуть нам изделие, если оно не подошло вам по размеру и цвету, и только в неиспользованном состоянии. Все затраты на денежные переводы и доставку несет покупатель.
  
  //- +pageSection({ bottomIndent:true })#form
  //-   +grid.home-form
  //-     +cell({ m: 7, xs: 12 }).home-form__info
  //-       h2.home-form__title.appear Оставьте заявку на бесплатную консультацию
  //-       p.home-form__description.appear или позвоните нам #[a(href='tel:+79211889866').icon-inline +7 (921) 188-98-66]
  //-       form.form.home-form__form
  //-         +formInput({ type: 'text', placeholder: 'Ваше имя', required:'required' }).form__input.appear
  //-         +formInput({ type: 'tel', placeholder: 'Телефон', required:'required' }).form__input.appear
  //-         +formInput({ type: 'textarea', placeholder: 'Комментарий' }).form__input.appear
  //-         +button(type='submit').form__submit.appear Оставить заявку
  //-     +cell({ m: 5, xs: 12 }).home-form__image.appear
  //-       +img({
  //-         name: 'home-form',
  //-         path: '/images/',
  //-         formats: [
  //-           { ext: 'webp', type: 'image/webp' },
  //-           { ext: 'png', orig: true },
  //-         ],
  //-         density: [
  //-           { values: [ 1, 2 ] },
  //-         ],
  //-       })
