extends /blocks/layout/layout

include /blocks/home-header/home-header
include /blocks/home-advantages/home-advantages
include /blocks/home-stages/home-stages
include /blocks/page-section/page-section
include /blocks/content/content
include /blocks/img/img
include /blocks/block-marked/block-marked
include /blocks/home-video/home-video
include /blocks/home-product/home-product
include /blocks/home-palette/home-palette
include /blocks/form-input/form-input
include /blocks/home-contacts/home-contacts
include /blocks/table/table
include /blocks/list-ordered/list-ordered
include /blocks/list-item/list-item
include /blocks/text-marked/text-marked
include /blocks/home-recommendation/home-recommendation
include /blocks/slider/slider

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'home'
  include /data/menu/index
  include /data/home/index
block content
  +homeHeader
  +homeAdvantages(advantages)
  +pageSection
    h2.text-align-center.appear Ваша проблема - наше решение
    +grid({ justify: 'center' }).page-subsection
      +cell({ l: 6, m: 8, s: 10, xs: 12, tag: 'h3' }).text-align-center.appear Рекомендуем вам
    +grid.page-subsection.home-recommendation
      each item in recommendations
        +homeRecommendation(item)(class= cell({ m:4, s:6 })).appear
  +pageSection({ noContent: true })#about: +content(class= grid({ alignItems: 'center' }))
    +cell({ m: 7, xs: 12 })
      h2.appear Свое производство
      p.appear: strong Мы являемся производителями полного цикла и это позволяет нам полностью ручаться за качество готового изделия.
      p.appear Идея создания отдельного направления — изготовления систем волос и накладок появилась от потребности наших клиентов приобретать более качественные изделия, не китайского производства.
      p.appear Имея огромный опыт с 2002 г. и навыки работы с постижерными изделиями, зная боли и пожелания тысячи наших клиентов, мы предложили совершенно новый уровень изделия.
      p.appear Индивидуальная, изготовленная вручную система волос учитывает все параметры и пожелания своего владельца. Мы можем учесть любой запроc — эта система будет идеально вам подходить.
      +blockMarked({ tag: 'blockquote' }).p.appear
        p «В это направление мы вложили весь наш опыт, знания и любовь к своему делу. Счастливые, довольные клиенты — лучшая награда за проделанную работу»
        cite.p: strong — Ольга Лейтес, ген. директор ЦДВ
    +cell({ m: 5, xs: 12 }).home-description-image
      each i in [1, 2]
        +img({
          name: `home-description-image-${i}`,
          path: '/images/',
          formats: [
            { ext: 'webp', type: 'image/webp' },
            { ext: 'jpg', orig: true }
          ],
          density: [{ values: [ 1, 2 ] }],
        }).home-description-image__image(class=`home-description-image__image--${i}`)
  +homeStages(stages)#steps
  +pageSection#instruction
    h2.text-align-center.appear Снятие слепка
    +grid({ justify: 'center' }).page-subsection
      +cell({ l: 6, m: 8, s: 10, xs: 12, tag: 'p' }).text-align-center.appear Чтобы система идеально подходила вам и была комфортна в использовании требуется снятие слепка. На видео наглядно показано, как мастер создает форму для слепка.
    +homeVideo.page-subsection
  +pageSection#works
    h2.text-align-center.appear Готовые постижерные изделия
    +grid({ justify: 'center' }).page-subsection
      +cell({ l: 6, m: 8, s: 10, xs: 12, tag: 'p' }).text-align-center.appear Мы изготавливаем накладки и системы волос не только под заказ, но и на продажу. У вас всегда есть возможность примерить и купить готовое изделие, если нет возможности ждать.
    +grid().page-subsection.home-products-list
      -
        const products = [
          {
            //- link: '/product.html',
            price: '45 200',
            image: 'home-product-1',
          },
          {
            price: '65 892',
            image: '20231012_165245',
            video: '20231012_165245.mp4',
          },
          {
            price: '34 500',
            image: 'home-product-3',
          },
          {
            price: '38 150',
            image: '20231013_172021',
            video: '20231013_172021.mp4',
          },
          {
            price: '45 600',
            image: '20231013_172636',
            video: '20231013_172636.mp4',
          },
          {
            price: '48 750',
            image: '20231013_173452',
            video: '20231013_173452.mp4',
          },
        ]
      each product in products
        +homeProduct(product)(class= cell({ m: 4, s: 6, xs: 12 })).home-products-list__item.appear
    +grid({ justify: 'center' }).page-subsection
      +cell({ m:3, s:6 })
        a(href='/catalog.html').button Каталог
  +pageSection
    h2.text-align-center.appear Отзывы клиенток
    +slider({ pagination:false }).page-subsection.home-platforms
      each item in platforms
        +slide.home-platforms__slide
          a(href=item.href target='_blank' rel='nofollow').home-platforms__item
            img(src=item.image loading='lazy' decoding='async' width=60 height=60).home-platforms__image
            .home-platforms__value !{item.value}
            .home-platforms__name !{item.name}

    +slider({ pagination:true }).home-feedback.page-subsection
      each item in feedbacks
        +slide.home-feedback__slide
          .home-feedback__item
            .home-feedback__header Отзыв оставлен на сайте !{item.platform}
            .home-feedback__inner
              .home-feedback__name !{item.name}
              .home-feedback__info
                .home-feedback__rating.rating(data-rating=item.rating)  
                  - for (let i=0; i<5; i++)
                    .rating__star
                .home-feedback__date !{item.date}
              .home-feedback__text !{item.text}
              if item.image
                a(href=`/images/${item.image}.webp` data-glightbox).home-feedback__image
                  +img({
                    name: item.image,
                    path: '/images/',
                    formats: [
                      { ext: 'webp', type: 'image/webp' },
                      { ext: 'jpg', orig: true },
                    ],
                  })(width=90 height=90)
              a(href='#').home-feedback__link.link Показать еще
    +grid({ justify: 'center' }).page-subsection
      a(href='#feedback-form' data-modal class=cell({ m:3, s:6 })).button Оставить отзыв
  +pageSection
    h2.text-align-center.appear Палитра оттенков
    +grid({ justify: 'center' }).page-subsection
      +cell({ l: 6, m: 8, s: 10, xs: 12, tag: 'p' }).text-align-center.appear Предоставляем богатый выбор оттенков, среди которых точно есть ваш. Подбираем как из фабричных окрашенных, так и срезанных в салоне славянских волос, учитывая малейшие детали по оттенкам и структуре.
    +homePalette.page-subsection.appear
  +pageSection
    h2.text-align-center.appear Чем лучше система из ателье?
    .page-subsection.comparison-table
      +table({ comparisonTable:true })
        +tr
          +th
          +th Cистема из ателье 
          +th Готовые китайские изделия
        +tr
          +td #[strong Производитель]
          +td.text-align-center Россия
          +td.text-align-center Китай
        +tr
          +td #[strong Срок изготовления]
          +td.text-align-center До&nbsp;3&nbsp;мес
          +td.text-align-center 6-8 мес
        +tr
          +td #[strong Тип волос]
          +td.text-align-center Натуральный
          +td.text-align-center Искусственный
        +tr
          +td #[strong Способ изготовления]
          +td.text-align-center Ручная работа
          +td.text-align-center Фабрика
        +tr
          +td #[strong Ценовой диапазон систем]
          +td.text-align-center 120 000 ₽ &mdash; 200 000 ₽
          +td.text-align-center 50 000 ₽ &mdash; 150 000 ₽
        +tr
          +td #[strong Гарантия на изделие]
          +td.text-align-center 10 месяцев
          +td.text-align-center —
  +pageSection
    h2.text-align-center.appear Могу ли я прибрести изделие удаленно? 
    +grid({ justify: 'center' }).page-subsection
      +cell({ l: 7, m: 8, s: 10, xs: 12, tag: 'h3' }).text-align-center.appear Да, конечно! Мы отправляем товары по РФ и странам СНГ, всего несколько этапов:
    .page-subsection.home-purchase.appear
      .home-purchase__item
        .home-purchase__title.home-purchase__title--is-openable Звонок-консультация #[.home-purchase__arrow]
        .home-purchase__body на котором подбираем волосы и согласовываем цену 
      .home-purchase__item 
        .home-purchase__title.home-purchase__title--is-openable Оплата 1-й части заказа #[.home-purchase__arrow]
        .home-purchase__body 50% от общей стоимости (оплата производится с карты на карту, либо на расчетный счет компании)
      .home-purchase__item 
        .home-purchase__title.home-purchase__title--is-openable Самостоятельное снятие слепка #[.home-purchase__arrow]
        .home-purchase__body #[a(href='#instruction').link по нашей инструкции], это несложно 
      .home-purchase__item 
        .home-purchase__title.home-purchase__title--is-openable Отправить слепок нам #[.home-purchase__arrow]
        .home-purchase__body по адресу г. Санкт-Петербург, наб. Обводного канала 108
      .home-purchase__item 
        .home-purchase__title.home-purchase__title--is-openable Изготовление изделия #[.home-purchase__arrow]
        .home-purchase__body 3 месяца: показываем ход работы, уточняем детали. Точный срок зависит от типа изделия. 
      .home-purchase__item 
        .home-purchase__title.home-purchase__title--is-openable Еще один звонок или переписка #[.home-purchase__arrow]
        .home-purchase__body для демонстрации готового изделия, подготовка отправки
      .home-purchase__item 
        .home-purchase__title.home-purchase__title--is-openable Оплата 2-й части заказа #[.home-purchase__arrow]
        .home-purchase__body 50% + доставка 
      .home-purchase__item 
        .home-purchase__title Отправка вам готового изделия
      .home-purchase__item 
        .home-purchase__title.home-purchase__title--is-openable Звонок при получении заказа #[.home-purchase__arrow]
        .home-purchase__body ваша обратная связь и ответы на вопросы (если есть) 

  +pageSection({ noContent: true })#form: +content(class= grid()).home-form
    +cell({ m: 7, xs: 12 }).home-form__info
      h2.home-form__title.appear Оставьте заявку на бесплатную консультацию
      p.home-form__description.appear или позвоните нам #[a(href='tel:+79211889866').icon-inline +7 (921) 188-98-66] #[a(href="https://t.me/+79211889866" targer='_blank').link-icons__link.link-icons__link--telegram] #[a(href="https://wa.me/+79211889866" target="_blank").link-icons__link.link-icons__link--whatsapp] #[a(href="https://vk.com/vk.com.wig_artspb " target="_blank").link-icons__link.link-icons__link--vkontakte]
      form.form.home-form__form
        +formInput({ type: 'text', placeholder: 'Ваше имя', required:'required' }).form__input.appear
        +formInput({ type: 'tel', placeholder: 'Телефон', required:'required' }).form__input.appear
        +formInput({ type: 'textarea', placeholder: 'Комментарий' }).form__input.appear
        +button(type='submit').form__submit.appear Оставить заявку
    +cell({ m: 5, xs: 12 }).home-form__image.appear
      +img({
        name: 'home-form',
        path: '/images/',
        formats: [
          { ext: 'webp', type: 'image/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] },
        ],
      })
  include /blocks/home-appointment/home-appointment
  +homeContacts#contacts
  +modal({ width: '32rem' })#feedback-form
    h3 Оставить отзыв
    form(data-answer-success='Ваш отзыв отправлен').form.p
      +formInput({ type: 'text', placeholder: 'Ваше имя', required:'required' }).form__input
      +formInput({ type: 'tel', placeholder: 'Телефон', required:'required' }).form__input
      +formInput({ type: 'textarea', placeholder: 'Отзыв' }).form__input
      +formInput({ type: 'checkbox', label: 'Отправляя эту форму, вы&nbsp;соглашаетесь с&nbsp;<a class="link" href="/">условиями обработки персональных данных</a>.', checked: true, required:true }).form__input
      button(type='submit').button Отправить
