extends /blocks/layout/layout

include /blocks/page-section/page-section

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
  include /data/menu/index
block content
  +pageSection({ topIndent: true })
    ul
      li: a(href='ui-kit.html') UI Kit — ui-kit.html 
      li: a(href='home.html') Главная страница — home.html 
      li: a(href='catalog.html') Каталог — catalog.html 
      li: a(href='product.html') Детальная страница товара — product.html 

  include /blocks/home-header-video/home-header-video
