.home-appointment
  position relative
  z-index 2
  isolation isolate
  min-height fit-content
  overflow-y hidden
  text-align center
  background-color #D9D5DD
  background-image linear-gradient(90deg, #D9D5DD 0%, rgba(217, 213, 221, 0) 100%)
  +media(m)
    +before()
      position absolute
      top 50%
      left 0
      z-index -2
      width calc(100% / 3 * 2)
      aspect-ratio 1.375/1
      background-color unset
      background-image image-set(url(../images/home-appointment.webp) 1x, url(../images/home-appointment@2x.webp) 2x)
      background-repeat no-repeat
      background-position left center
      background-size contain
      transform translateY(-50%)
  &__inner
    height 100%
  &__info
    display flex
    flex-direction column
    align-items center
    padding-block 40px
  &__title
    color var(--primary-to)
  &__description
    margin-top 1.25rem
  &__button
    margin-top 1.875rem
