+pageSection({ noContent: true }).home-appointment: +content(class= grid({ justify: 'flex-end', alignItems: 'center' })).home-appointment__inner
  +cell({ l: 6, m: 6, xs: 12 }).home-appointment__info
    h2.home-appointment__title.appear Памятка по уходу за изделиями из натуральных волос
    p.home-appointment__description.appear Заботимся, чтобы с нашими рекомендациями система волос или накладка служила вам максимально долго
    +button({ tag: 'a' })(href='https://docs.google.com/document/d/1xIMtH5BSF_OQA6LkiaN5ye9GYUBfZnPY-Ub8D3hvVRc/edit?tab=t.0' target='_blank').home-appointment__button.appear Читать
