.home-products-list
  position relative
  +media-max(s)
    flex-wrap nowrap
    gap calc(var(--gap) / 2)
    max-width calc(100% + var(--gap))
    margin-inline calc(var(--gap) / -2)
    padding-bottom 20px
    padding-inline calc(var(--gap) / 2)
    overflow-x scroll
  +after()
    +media(l)
      position absolute
      right -600px
      bottom 0
      z-index -1
      width 776px
      height 776px
      rotate 10deg
      background-image image-set(\
              url(../images/branch-2.webp) 1x,\
              url(../images/branch-2@2x.webp) 2x\
      )
      translate 0 var(--after-translate-y)
  &__item
    +media-max(s)
      flex-shrink 0
      max-width 95%
      max-height 80%
