.home-palette
  padding 20px
  background-color var(--color-background)
  border-radius 15px
  outline 1px solid #e9e6f6
  outline-offset -10px
  box-shadow var(--card-shadow)
  +media-max(m)
    --column-gap 20px
    --row-gap 20px
    margin-inline calc(var(--gap) / -2)
  +media(m)
    padding 40px
    border-radius 30px
  &__item
    border-radius 15px
    transition box-shadow var(--transition-duration-out)
  &__link ^[0]__item
    +hover()
      box-shadow 0px 0px 0px 4px var(--primary-to)
      transition-duration var(--transition-duration-in)
