mixin homePalette()
  .home-palette(class= grid({ columns: 8 }))&attributes(attributes)
    - const linkArray = [1, 2, 3, 4, 10, 11, 12, 15, 16, 20, 22, 23]; // Массив для i, для которых нужно формировать ссылку
    - const noLinkArray = [5, 6, 7, 8, 9, 13, 14, 17, 18, 19, 21, 24];
    - i = 1;
    while i < 25
      if linkArray.includes(i)
        a(href=`/images/palette-${i}-big.webp` data-glightbox data-gallery='photos' class= cell({ s: 1, xs: 2 })).home-palette__link
          +img({
            name: `palette-${i}`,
            path: '/images/',
            formats: [
              { ext: 'webp', type: 'image/webp' },
              { ext: 'jpg', orig: true },
            ],
            density: [
              { values: [ 1, 2 ] },
            ],
          }).home-palette__item
      else if noLinkArray.includes(i)
        +cell({ s: 1, xs: 2 })
          +img({
              name: `palette-${i}`,
              path: '/images/',
              formats: [
                { ext: 'webp', type: 'image/webp' },
                { ext: 'jpg', orig: true },
              ],
              density: [
                { values: [ 1, 2 ] },
              ],
            }).home-palette__item
      - i += 1


