include /blocks/logo/logo
include /blocks/menu/menu
include /blocks/link-icons/link-icons

mixin footerNavigation(list)

  +menu(list).footer-navigation&attributes(attributes)

mixin footer
  footer.footer&attributes(attributes)
    +logo.footer__logo
    +footerNavigation(menu).footer__navigation
    a(href='tel:+79211889866').footer__tel +7 (921) 188-98-66
    +linkIcons(['telegram', 'whatsapp', 'vkontakte']).footer__links
    a(href='#form').footer__call.link Заказать звонок
