.product-colors
  &__color
    align-items center
    justify-content space-between
  &__image
    border-radius 15px
    cursor pointer
    &--active
      box-shadow 0px 0px 0px 3px var(--primary-to)
  &__item
    align-items center
  &__available
    color #0b9b38
