.product-colors
  display flex
  flex-direction column
  row-gap 0.5em
  &__color
    display flex
  &__list
    display flex
    flex-wrap wrap
    gap 0.5rem
  &__image
    display block
  &__item
    display flex
    flex-direction column
  &__available
    font-size 11px
