mixin productColors
  .product-colors&attributes(attributes)
    .product-colors__color
      +textMarked({ tag: 'p', size: 'm'}).product-colors__current #[strong Цвет]: #[span ]
      a(href='#color-tab').link Как выбрать цвет?
    .product-colors__list 
      .product-colors__item
        +img({
          name: `palette-20`,
          path: '/images/',
          formats: [
            { ext: 'webp', type: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] },
          ],
        })(width=60 height=60 data-color='20' data-availability='not-available').product-colors__image
        //- .product-colors__available 
      .product-colors__item
        +img({
          name: `palette-12`,
          path: '/images/',
          formats: [
            { ext: 'webp', type: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] },
          ],
        })(width=60 height=60 data-color='12' data-availability='available').product-colors__image
        //- .product-colors__available 
