.home-header
  position relative
  isolation isolate
  overflow hidden
  background-color var(--color-background)
  background-image \
    radial-gradient(circle, #F8F6FF 0, transparent 768px), \
    radial-gradient(circle, var(--color-background) 0, transparent 327px), \
    radial-gradient(circle, rgba(218, 214, 237, 1) 0, transparent 768px), \
    linear-gradient(-100deg, #EFF5F5 0, #f7f7f7 40%, #FAF8F6 90%)
  background-repeat no-repeat
  background-position \
    100% -618px,\
    right 224px center,\
    -800px 156px,\
    center
  background-size \
    1536px 1536px,\
    654px 654px,\
    1536px 1536px,\
    100%
  +before()
    position absolute
    bottom 0
    right calc(var(--content-width) + (100vw - var(--content-width)) / 2)
    z-index -1
    width 562px
    height 787px
    background-image image-set(\
      url(../images/branch-1.webp) 1x,\
      url(../images/branch-1@2x.webp) 2x\
    )
    background-repeat no-repeat
    background-position center
    background-size contain
    +media-max(l)
      display none
    +media(l)
      translate 0 var(--before-translate-y)
  +after()
    position absolute
    bottom 0
    right -300px
    z-index -1
    width 562px
    height 787px
    rotate -18deg
    background-image image-set(\
      url(../images/branch-1.webp) 1x,\
      url(../images/branch-1@2x.webp) 2x\
    )
    translate 0 var(--after-translate-y)
    +media(l)
      bottom -100px
      right -400px
      width 880px
      height 880px
      rotate -8deg
  &__image
    +media(m)
      rotate 4.28deg
