include /blocks/container/container
include /blocks/content/content
include /blocks/button/button
include /blocks/list-item/list-item
include /blocks/list-unordered/list-unordered
include /blocks/img/img
include /blocks/home-header-video/home-header-video

mixin homeHeader
  +container({ tag: 'section' }).home-header: +content.home-header__inner
    h1.home-header__title Системы волос по индивидуальному заказу
    +ul.home-header__list
      +li Ручная работа
      +li Эксклюзивные изделия
      +li 100% натуральный славянский волос
    +button({ tag: 'a' })(href='#form').home-header__button Записаться в шоурум
    +homeHeaderVideo.home-header__image
