.home-header
  &__inner
    display grid
    grid-template-columns calc(100vw - var(--gap))
    +media-max(l)
      padding-top 142px
      padding-bottom 60px
    +media(s)
      justify-items start
      align-content center
      grid-template-columns 3fr 2fr
      grid-template-rows 1fr min-content 1fr
    +media(m)
      grid-template-columns 2fr 1fr
    +media(l)
      min-height 960px
  &__title
    font-family var(--font-family-secondary)
    font-size 30px
    line-height 40px;
    +media(s)
      grid-column 1/2
      align-self end
    +media(m)
      font-size 56px
      line-height 58px
  &__list
    margin-top 20px
    +media(s)
      grid-column 1/2
      margin-top 30px
  &__button
    margin-top 30px
    +media(s)
      grid-column 1/2
      align-self start
      margin-top 40px
  &__image
    +media-max(s)
      justify-self center
      max-width none
      margin-top 30px
      margin-inline @css{ min(calc(100vw - 410px), 0px) }
    +media(s)
      grid-column 2/3
      grid-row 1/-1
      align-self center
