mixin tabs(settings)
  -
    global.tabs = []
    const tabsClasses = classes('tabs', settings)
  div(class != tabsClasses)&attributes(attributes)
    block
    .tabs__labels
      each item in global.tabs
        .tabs__label(id= item.labelId) !{item.name}
    .tabs__contents
      each item in global.tabs
        .tabs__item
          - item.block();
  - delete global.tabs

mixin tab(settings = {name:'', labelId:''})
  - global.tabs.push({block: this.block, ...settings})
