.tabs
  &__labels
    display flex
    flex-wrap wrap
    gap 2px
    margin-bottom 0
    border-bottom 1px solid var(--color-light-violet)
  &__label
    flex-grow 1
    padding 12px 16px
    text-align center
    background-color var(--color-light-violet)
    border-radius 15px 15px 0 0
    cursor pointer
    &--active
      color #fff
      background-color var(--primary-to)
      border-bottom none
      cursor default
  &__item
      display none
      padding-top var(--gap)
      &--active
        display block
