.product-details
  &__size
    display flex
    justify-content space-between
    align-items center
    margin-bottom 1.5em
  &__clarification
    padding-left 1rem
    border-left 3px solid var(--color-light-violet)
    