a
  text-decoration none
  &.link
    background-image var(--primary)
    background-clip text
    -webkit-text-fill-color transparent
    text-fill-color transparent
    border-image var(--primary) 1 / 0 0 1px 0
    transition filter var(--transition-duration-out)
    +hover()
      filter saturate(1.25) brightness(.5)
      transition filter var(--transition-duration-in)
  &[href^='#'].link
    position relative
    border-image none
    &::after
      content ''
      position absolute
      inset auto 0 0 0 
      width 100%
      height 1px
      background-image radial-gradient(var(--primary-to) 1px, transparent 0)
      background-size 3px 1px
