.home-platforms
  &__item
    display grid
    grid-template-areas 'image value' 'image name'
    grid-template-columns minmax(56px, auto) 1fr
    row-gap 4px
    justify-items center
    align-items center
    padding 20px
    background-color var(--color-light-violet)
    border-radius var(--border-radius-s)
  &__image
    grid-area image
    max-height 60px
    max-width 120px
    width 100%
  &__value
    grid-area value
    font-size 36px
    line-height 1
    font-weight 500
    color var(--primary-to)
  &__name
    grid-area name
    font-weight 500
    color var(--primary-to)
    text-align center
  .slider__wrapper // для центрирования двух слайдов на дескт
    +media(m)
      gap 40px
      justify-content center
  .slider__arrow
    mask-image maskImage(arrow-1, common)
    top 50%
    transform translateY(-50%)
    z-index 100
    &--next
      transform translateY(-50%) scaleX(-1)
