.home-header-video
  display grid
  grid-template-columns 1fr
  width 433px
  height 731px
  &__object
    z-index 1
    grid-column 1/-1
    grid-row 1/-1
    justify-self center
    width 306.18px
    height 663.23px
    object-fit cover
    object-position center
    border-radius 40px
  +before()
    z-index 2
    grid-column 1/-1
    grid-row 1/-1
    background-image image-set(\
            url(../images/home-header.webp) 1x,\
            url(../images/home-header@2x.webp) 2x\
    )
    background-repeat no-repeat
    background-position center
    background-size contain
