.product-item
  --product-button-opacity 0
  &__title
    transition color var(--transition-duration-out)
  &__button
    align-self end
    justify-self center
    box-shadow none
    opacity var(--product-button-opacity)
    transition opacity var(--transition-duration-out)
  +hover()
    --product-button-opacity 1
    transition-duration var(--transition-duration-in)
    & ^[0]__title
      color var(--primary-to)
      transition color var(--transition-duration-in)
