.product-item
  display grid
  grid-template-rows auto min-content 1fr
  gap 0.5rem
  img
    grid-row 1/2
    grid-column 1/-1
  &__button
    grid-row 1/2
    grid-column 1/-1
    margin-bottom 20px
    padding 14px
    width calc(100% - 20px)
.product-more-button
  margin 0 auto
