.home-form
  &__image
    position relative
    +media-max(m)
      order 1
      aspect-ratio 2/3
    img
      +media-max(m)
        width 100%
        height 100%
        object-fit cover
        object-position bottom center
      +media(m)
        position absolute
        bottom 0
        left 50%
        width 700px
        max-width none
        height auto
        translate -50% 0
  &__info
    +media-max(s)
      order 2
  &__form
    max-width 477px
    margin-top 20px
    +media(m)
      margin-top 30px
  &__description
    display flex
    flex-wrap wrap
    align-items center
    gap 0.75rem
