.home-description-image
  display grid
  grid-template-columns auto
  grid-template-rows 42% 25% 33%
  justify-items center
  &__image
    grid-column 1
    border-radius 30px
    &--1
      grid-row 1/3
      translate 0 var(--image-1-translate-y)
    &--2
      grid-row 2/4
      max-width 75%
      margin-inline 38px
      rotate 5.86deg
      translate 0 var(--image-2-translate-y)
