-
  const advantages = [
    {
      type: 'experience',
      title: 'На рынке с 2002 г.',
      description: 'Являемся экспертами в сфере волос и точно знаем потребности наших клиентов - учтем все пожелания',
    },
    {
      type: 'warranty',
      title: 'Гарантия',
      description: 'Контролируя качество изготовления на каждом этапе, даем гарантию в течение 1 года на носку (при соблюдении всех правил ухода)',
    },
    {
      type: 'repair',
      title: 'Любой ремонт',
      description: 'и подгонка. В салоне работает 12 мастеров - профессионалов, специализирующихся именно на постижерных изделиях',
    },
    {
      type: 'all-in-one',
      title: 'Все в одном месте',
      description: 'Консультация, подбор, получение готового изделия и его фиксация - все это вы можете получить у нас в салоне',
    },
  ]

  const stages = [
    'Прежде всего надо понять для чего нужна система: для смены имиджа, по определенным показаниям (терапия, маскировка проблемной области и тд). Нужно понимать, как часто будет использоваться система, нужна ли она для постоянного ношения или нет. Обговариваем густоту, длину, и, конечно, цвет.',
    'В соответствии с необходимостью, подбираем основу по виду конструкции — это может быть полусистема, или система волос (полностью ручной труд). Так же основы распределяются по виду материала — сетка, шелк, кружево (мы используем только новые типы дышащих тканей).',
    'Снимаем слепок головы, после чего мы подбираем волосы нужного типа, исходя из Вашего запроса и бюджета. Если это накладка надо, чтобы волосы были неотличимы от Ваших по структуре, что делает изделие максимально естественным и незаметным.',
    'Искусная, филигранная работа постижера. Абсолютно каждое изделие выполняется вручную, что гарантирует исключительно высокое качество.',
    'Оформление и моделирование системы волос. На выбор нашего клиента предлагаются различные парикмахерские решения: прямой срез, классический каскад, варианты челки. Адаптационную стрижку рекомендуем каждому.',
  ]

  const recommendations = [
    {
      title: 'Для загущения волос',
      image: 'na-makushku',
      product: 'Накладки на макушку',
      productImage: 'na-makushku-img',
      description: 'Накладка из натуральных волос предназначена для увеличения объема и густоты волос в теменной области.',
    },
    {
      title: 'При частичной потере волос',
      image: 'glubokoya',
      product: 'Глубокая накладка и система волос',
      productImage: 'glubokoya-img',
      description: 'Глубокая накладка позволит скрыть большую потерю волос.',
    },
    {
      title: 'При тотальной алопеции',
      image: 'systema',
      product: 'Системы волос на полный объем головы',
      productImage: 'systema-img',
      description: 'Системы волос это 100% натуральный волосяной покров на тончайшей силиконовой основе, пропускающей воду и воздух и позволяющей коже головы дышать. Позволит незаметно скрыть полную потерю волос.',
    },
  ] 

  const feedbacks = [
    {
      name: 'Яна Данилевская',
      date: '27 января 2025',
      rating: '5',
      text: 'Заказывали родственнице накладку в данном ателье и я вам скажу накладка получилась просто восхитительной! Я с первого взгляда поняла, что это именно то, что ей нужно и она сама осталась в полном восторге. Волосы выглядят совсем как её, только лучше! Носит уже не первый месяц - очень довольна качеством. Спасибо за вашу заботу',
      platform: 'Яндекс карты',
    },
    {
      name: 'Инкогнито 0845',
      date: '27 января 2025',
      rating: '5',
      text: 'Благодарна Анастасии за накладку. Она просто Волшебница! Волосы, цвет , густота подобраны идеально. Я просто счастлива! Проблема ушла, с которой жила несколько лет! Рекомендую! Анастасия Вам поможет!!!',
      platform: 'Яндекс карты',
    },
    {
      name: 'Римма Ник',
      date: '24 января 2025',
      rating: '5',
      text: 'Хочу выразить огромную благодарность работникам салона.Для женщины волосы очень важны ,при посещении салона я волновалась, но девочки вниматемне отнеслись. Мыобговорили все детали будущего изделия и главный технолог Анастасия Абрамова собственноручно изготовила мне маленькую, натуральную накладочку,которая даже не чувствуется на голове.Качество отменное!Девочкам спасибо за их труд!Благополучия, здоровья и процветания!',
      platform: 'Яндекс карты',
    },
    {
      name: 'Аниса Алилова',
      date: '23 января 2025',
      rating: '5',
      text: 'Прекрасный салон, большой выбор, приятный персонал! Рекомендую!',
      platform: 'Яндекс карты',
    },
    {
      name: 'Инкогнито 4880',
      date: '1 декабря 2024',
      rating: '5',
      text: 'Пользуюсь системой около года. Очень довольна. Систему изготовили с учетом моих пожеланий и предпочтений. На голове выглядет очень натурально и эффектно. Хочу отлельно поблагодарить мастера Анастасию за ее профессионализм и высокое мастерство. Системой очень довольна и ношу с удовольствием. Очень благодарна всем работникам этого салона. Удачи вам и процветания! Вы делаете своих клинтов счастливыми!!!',
      platform: 'Яндекс карты',
    },
    {
      name: 'Анастасия Журавлева',
      date: '27 сентября 2024',
      rating: '5',
      text: 'Я хочу поделиться своим восхищением от работы ателье WigsArt! Заказала здесь несколько изделий на заказ, и результат превзошел все мои ожидания. <br> Каждое изделие было выполнено с невероятной тщательностью и вниманием к деталям. Качество материалов и исполнения на высшем уровне. Когда я получила свою работу, она была идеальной — все швы аккуратные, а пошив выполнен безупречно. <br> Отдельно хочу отметить профессионализм и отзывчивость Анастасии. Она внимательно выслушала все мои пожелания и предложила дельные советы, что позволило создать именно те изделия, которые я хотела. <br> Спасибо огромное за вашу работу! Обязательно буду советовать ваше ателье всем знакомым и вернусь за новыми изделиями. Вы действительно творите чудеса!',
      platform: 'Яндекс карты',
    },
    {
      name: 'Дарья Бруяка',
      date: '27 сентября 2024',
      rating: '5',
      text: 'Девочки умницы, рукодельницы и мастера своего дела, большое спасибо за накладки',
      platform: 'Яндекс карты',
    },
    {
      name: 'Ольга Л.',
      date: '26 сентября 2024',
      rating: '5',
      text: 'Прекрасное качество накладки! Я очень довольна. Рекомендую от души!',
      platform: 'Яндекс карты',
      image: 'feedback-1',
    },
  ]

  const platforms = [
    {
      name: 'Яндекс Карты',
      href: 'https://yandex.ru/maps/org/wigartspb/83765623260/reviews/?ll=30.313047%2C59.907988&tab=reviews&z=16.43',
      value: '4.3',
      image: '/images/yandex.svg',
    },
    {
      name: '2ГИС',
      href: 'https://2gis.ru/spb/search/%D0%90%D1%82%D0%B5%D0%BB%D1%8C%D0%B5%20%D0%BF%D0%BE%20%D0%B8%D0%B7%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8E%20%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%20%D0%B2%D0%BE%D0%BB%D0%BE%D1%81%20%D0%B8%20%D0%BD%D0%B0%D0%BA%D0%BB%D0%B0%D0%B4%D0%BE%D0%BA%20/firm/70000001093777697/30.312254%2C59.907664/tab/reviews?m=30.312416%2C59.907371%2F16',
      value: '5',
      image: '/images/2gis.svg',
    },
  ]
