.home-video
  +media-max(m)
    margin-inline calc(var(--gap) / -2)
  +media(m)
    display grid
    grid-template-columns repeat(12, 1fr)
    gap var(--gap)
  &__iframe
    width 100%
    height 100%
    +media(m)
      z-index 2
      grid-column 1/9
      grid-row 1/-1
    iframe
      width 100%
      aspect-ratio 787/476
      border-radius 15px
      +media(m)
        border-radius 30px
        translate 0 var(--iframe-translate-y)
  &__description
    padding 20px
    background-color var(--color-background)
    outline 1px solid #E9E6F6
    outline-offset -10px
    border-radius 30px
    box-shadow var(--card-shadow)
    +media(m)
      grid-column 8/13
      grid-row 1/-1
      padding 40px
      padding-left 20%
      translate 0 var(--description-translate-y)
