mixin homeVideo
  .home-video&attributes(attributes)
    .home-video__iframe(data-src='https://vk.com/video_ext.php?oid=-1969216&id=456239030&hd=2')#home-iframe
    .home-video__description.appear
      p На видео наша постоянная клиентка — Наталья. У Натальи тотальная алопеция, у нее практически не осталось своих волос, для нее мы сделали слепок для изготовления индивидуальной системы волос.
      p Перед оформлением заказа, мы проверяем соответствие размера слепка с размером головы.
      p В заказе Наталья выбрала цвет волос — № 24, длину — 40 см.
      p Мы также даем подробные инструкции, как это сделать самостоятельно, если вы проживаете в другом городе.
