mixin homeRecommendation(recommendation)
  .home-recommendation__item&attributes(attributes)
    .home-recommendation__title !{recommendation.title}
    .home-recommendation__inner
      +img({
        name: recommendation.image,
        path: '/images/',
        formats: [
          { ext: 'webp', type: 'image/webp' },
          { ext: 'png', orig: true }
        ],
      }).home-recommendation__image
      p.home-recommendation__product-title !{recommendation.product}
    +img({
        name: recommendation.productImage,
        path: '/images/',
        formats: [
          { ext: 'webp', type: 'image/webp' },
          { ext: 'png', orig: true }
        ],
      }).home-recommendation__product-image.image-border-radius
    p.home-recommendation__text !{recommendation.description}
