.home-recommendation
  &__item
    display grid
    grid-template-rows max-content auto auto 1fr
    gap 16px
    padding 24px
    background-color var(--color-background)
    outline 1px solid #e9e6f6
    outline-offset -10px
    border-radius 30px
    box-shadow var(--card-shadow)
  &__inner
    display flex
    gap 24px
    align-items center
  &__title
    font-size 20px
    font-weight 700
    color var(--primary-to)
    text-align center
  &__image
    max-width 60px
  &__product-title
    font-weight 500
