$textAlign = left, right, justify, center, inherit
for $align in $textAlign
  .text-align-{$align}
    text-align $align

.nowrap
  white-space nowrap

.no-scroll
  overflow hidden

.hidden-xs
  +media-max(s)
    display none
.hidden-s
  +media-interval(s, m)
    display none
.hidden-m
  +media-interval(m, l)
    display none
.hidden-l
  +media(l)
    display none

.image-border-radius
  border-radius 15px
