:root
  --font-family-primary 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  --font-family-secondary 'Prata', serif

  --color-text #111723
  --color-text-secondary #AAA7B8
  --color-background #ffffff
  --color-light-violet #f4f2ff

  --primary-from #A095D7
  --primary-from-light #c9c2ec
  --primary-to #776CB1
  --primary radial-gradient(100% 100% at 50% 0, var(--primary-from) 0, var(--primary-to) 89%)
  --grey radial-gradient(100% 100% at 50% 0, #F4F2FF 0, #E9E6F6 89%)

  --card-shadow 0 11.5px 7px 0 rgba(119, 108, 177, .04), 0 51px 56px 0 rgba(119, 108, 177, .07)

  --transition-duration-out .3s
  --transition-duration-in .1s
  
  --border-radius-s 4px
  --border-radius-l 12px
