mixin linkIcons(list = [], settings = {})
  -
    const links = {
      whatsapp: 'https://wa.me/+79211889866',
      telegram: 'https://t.me/+79211889866',
      vkontakte: 'https://vk.com/vk.com.wig_artspb',
      facebook: '',
      instagram: '',
    }
  div(class= classes('link-icons', settings))&attributes(attributes)
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
