.link-icons
  display flex
  flex-wrap wrap
  align-items center
  gap 0.5rem
  &__link
    display block
    width 32px
    height 32px
    background-image var(--background-icon)
    background-repeat no-repeat
    background-position center
    background-size cover
    transition opacity var(--transition-duration-out)
    &:hover
      opacity 0.8
      transition-duration  var(--transition-duration-in)
    for icon in whatsapp telegram vkontakte facebook instagram
      &--{icon}
        --background-icon backgroundImage(icon, common)
  &--padding--top
    padding-top 4px
