include /blocks/button/button
include /blocks/container/container
include /blocks/content/content
include /blocks/header-navigation/header-navigation
include /blocks/logo/logo
include /blocks/link-icons/link-icons

mixin header
  header.header&attributes(attributes)
    +logo.header__logo
    a(href='#form').header__icon.header__icon--call.hidden-m.hidden-l
    a(href='#form').header__call.link.hidden-xs.hidden-s Заказать звонок
    button.header__opener.js-header-toggler
    .header__pop-up
      +headerNavigation(menu).header__navigation
      +button({ tag: 'a' })(href='#form').header__call-button.hidden-m.hidden-l.js-header-toggler Заказать звонок
      a(href='tel:+79211889866').header__icon.header__icon--tel.header__tel +7 (921) 188-98-66
      +linkIcons(['telegram', 'whatsapp', 'vkontakte']).footer__links.header__links
      .header__icon.header__icon--address.header__address г. Санкт-Петербург,<br>наб. Обводного канала 108
