-
  const catalog = [
    {
      img: 'home-product-1',
      title: 'Накладка на пробор, 50 см, русый',
      price: '45 200 ₽',
    },
    {
      img: 'home-product-10',
      title: 'Изящная длинная женская система на всю голову',
      price: '65 892 ₽',
    },
    {
      img: 'home-product-3',
      title: 'Изящная длинная женская система на всю голову',
      price: '34 500 ₽',
    },
    {
      img: 'home-product-11',
      title: 'Изящная длинная женская система на всю голову',
      price: '38 150 ₽',
    },
    {
      img: 'home-product-12',
      title: 'Изящная длинная женская система на всю голову',
      price: '45 600 ₽',
    },
    {
      img: 'home-product-13',
      title: 'Изящная длинная женская система на всю голову',
      price: '48 750 ₽',
    },
    {
      img: 'home-product-7',
      title: 'Система замещения волос из славянских окрашенных волос, длина 60 см',
      price: '265 000 ₽',
    },
    {
      img: 'home-product-8',
      title: 'Накладка на макушку с имитацией, длина 50 см',
      price: '45 600 ₽',
    },
    {
      img: 'home-product-9',
      title: 'Глубокая накладка с имитацией кожи головы, длина 55 см',
      price: '136 000 ₽',
    },
    {
      img: 'home-product-1',
      title: 'Накладка на пробор, 50 см, русый',
      price: '45 200 ₽',
    },
    {
      img: 'home-product-10',
      title: 'Изящная длинная женская система на всю голову',
      price: '65 892 ₽',
    },
    {
      img: 'home-product-3',
      title: 'Изящная длинная женская система на всю голову',
      price: '34 500 ₽',
    },
    {
      img: 'home-product-11',
      title: 'Изящная длинная женская система на всю голову',
      price: '38 150 ₽',
    },
    {
      img: 'home-product-12',
      title: 'Изящная длинная женская система на всю голову',
      price: '45 600 ₽',
    },
    {
      img: 'home-product-13',
      title: 'Изящная длинная женская система на всю голову',
      price: '48 750 ₽',
    },
    {
      img: 'home-product-7',
      title: 'Система замещения волос из славянских окрашенных волос, длина 60 см',
      price: '265 000 ₽',
    },
    {
      img: 'home-product-8',
      title: 'Накладка на макушку с имитацией, длина 50 см',
      price: '45 600 ₽',
    },
    {
      img: 'home-product-9',
      title: 'Глубокая накладка с имитацией кожи головы, длина 55 см',
      price: '136 000 ₽',
    },
  ]
