.header-navigation
  &__list
    display flex
    gap var(--gap)
    +media-max(m)
      flex-direction column
    +media(m)
      gap 10px
      padding-x calc(var(--gap)/1.75)
    +media(l)
      gap var(--gap)
  &__item
    font-size 24px
    font-weight 500
    line-height 1
    +media(m)
      font-size 17px
